USE [master]
GO
/****** Object:  Database [SQL_DML]    Script Date: 13/11/2022 14:35:50 ******/
CREATE DATABASE [SQL_DML]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SQL_DML', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SQL_DML.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SQL_DML_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SQL_DML_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SQL_DML].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SQL_DML]
GO
/****** Object:  Table [dbo].[Provisto_Por]    Script Date: 13/11/2022 14:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provisto_Por](
	[CodMat] [int] NULL,
	[CodProv] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_proveedores_mas_cuatro_materiales]    Script Date: 13/11/2022 14:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_proveedores_mas_cuatro_materiales] AS
SELECT pp.CodProv, COUNT(*) AS Total
FROM Provisto_Por pp
GROUP BY pp.CodProv
HAVING COUNT(*)>4
GO
/****** Object:  Table [dbo].[Almacen]    Script Date: 13/11/2022 14:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Almacen](
	[Nro] [int] NOT NULL,
	[Responsable] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Nro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Articulo]    Script Date: 13/11/2022 14:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulo](
	[CodArt] [int] NOT NULL,
	[Descripcion] [varchar](50) NULL,
	[Precio] [decimal](12, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[CodArt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compuesto_Por]    Script Date: 13/11/2022 14:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compuesto_Por](
	[CodArt] [int] NULL,
	[CodMat] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 13/11/2022 14:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[CodMat] [int] NOT NULL,
	[Descripcion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CodMat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 13/11/2022 14:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[CodProv] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Domicilio] [varchar](50) NULL,
	[Ciudad] [varchar](50) NULL,
	[fecha_alta] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[CodProv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tiene]    Script Date: 13/11/2022 14:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tiene](
	[NroAlmacen] [int] NULL,
	[CodArt] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Almacen] ([Nro], [Responsable]) VALUES (1, N'Juan Perez')
INSERT [dbo].[Almacen] ([Nro], [Responsable]) VALUES (2, N'Jose Basualdo')
INSERT [dbo].[Almacen] ([Nro], [Responsable]) VALUES (3, N'Pablo Mancineli')
GO
INSERT [dbo].[Articulo] ([CodArt], [Descripcion], [Precio]) VALUES (1, N'Articulo Uno', CAST(60.000 AS Decimal(12, 3)))
INSERT [dbo].[Articulo] ([CodArt], [Descripcion], [Precio]) VALUES (2, N'Articulo Dos', CAST(60.000 AS Decimal(12, 3)))
INSERT [dbo].[Articulo] ([CodArt], [Descripcion], [Precio]) VALUES (3, N'Articulo Tres', CAST(180.000 AS Decimal(12, 3)))
GO
INSERT [dbo].[Compuesto_Por] ([CodArt], [CodMat]) VALUES (1, 1)
INSERT [dbo].[Compuesto_Por] ([CodArt], [CodMat]) VALUES (1, 2)
INSERT [dbo].[Compuesto_Por] ([CodArt], [CodMat]) VALUES (1, 3)
GO
INSERT [dbo].[Material] ([CodMat], [Descripcion]) VALUES (1, N'Material A')
INSERT [dbo].[Material] ([CodMat], [Descripcion]) VALUES (2, N'Material B')
INSERT [dbo].[Material] ([CodMat], [Descripcion]) VALUES (3, N'Material
C')
GO
INSERT [dbo].[Proveedor] ([CodProv], [Nombre], [Domicilio], [Ciudad], [fecha_alta]) VALUES (1, N'Proveedor Uno', N'Carlos Calvo 1212', N'CABA', CAST(N'1990-01-01' AS Date))
INSERT [dbo].[Proveedor] ([CodProv], [Nombre], [Domicilio], [Ciudad], [fecha_alta]) VALUES (2, N'Proveedor Dos', N'San Martin 121', N'Pergamino', CAST(N'1990-01-01' AS Date))
INSERT [dbo].[Proveedor] ([CodProv], [Nombre], [Domicilio], [Ciudad], [fecha_alta]) VALUES (3, N'Proveedor Tres', N'San Pedrito 1244', N'CABA', CAST(N'1992-01-01' AS Date))
GO
INSERT [dbo].[Provisto_Por] ([CodMat], [CodProv]) VALUES (1, 1)
INSERT [dbo].[Provisto_Por] ([CodMat], [CodProv]) VALUES (1, 3)
INSERT [dbo].[Provisto_Por] ([CodMat], [CodProv]) VALUES (1, 6)
GO
INSERT [dbo].[Tiene] ([NroAlmacen], [CodArt]) VALUES (1, 1)
INSERT [dbo].[Tiene] ([NroAlmacen], [CodArt]) VALUES (1, 2)
INSERT [dbo].[Tiene] ([NroAlmacen], [CodArt]) VALUES (2, 1)
GO
ALTER TABLE [dbo].[Compuesto_Por]  WITH CHECK ADD FOREIGN KEY([CodArt])
REFERENCES [dbo].[Articulo] ([CodArt])
GO
ALTER TABLE [dbo].[Compuesto_Por]  WITH CHECK ADD FOREIGN KEY([CodMat])
REFERENCES [dbo].[Material] ([CodMat])
GO
ALTER TABLE [dbo].[Provisto_Por]  WITH CHECK ADD FOREIGN KEY([CodMat])
REFERENCES [dbo].[Material] ([CodMat])
GO
ALTER TABLE [dbo].[Provisto_Por]  WITH CHECK ADD FOREIGN KEY([CodProv])
REFERENCES [dbo].[Proveedor] ([CodProv])
GO
ALTER TABLE [dbo].[Tiene]  WITH CHECK ADD FOREIGN KEY([CodArt])
REFERENCES [dbo].[Articulo] ([CodArt])
GO
ALTER TABLE [dbo].[Tiene]  WITH CHECK ADD FOREIGN KEY([NroAlmacen])
REFERENCES [dbo].[Almacen] ([Nro])
GO
USE [master]
GO
